<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
	</head>
	<body>
		<h1> Welcome to swap.com, <%= @user.name %></h1>
		<p>
      		You have successfully signed up to swap.com,
      		your username is: <%= @user.email %>.<br/>
    	</p>
    <p>
      To login to the site, just follow this link: localhost:3000/home
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
