<div class="row-fluid">
	<div class="span3">
	</div>

	<div class="span7">

	<h3>Update Profile Information</h3>

	<%= render 'form' %>

	<%= link_to 'Go to Profile', @user %>

	</div>	
</div> <!-- row-fluid -->
