<%= set_title 'Search Classmate' %>

<div class="row-fluid">
    <div class="span2">
    </div>

    <div class="span8">
        <h3>Looking for someone?</h3>

<table>
  <tr class="thspace_right space_under">
  </tr>

<% @users.each do |user| %>
  <tr class="tdspace_right" style="text-align: center">
    <td><%= link_to user.name, user %></td>
  </tr>
<% end %>
</table>

    </div>
</div>
