<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="listings.css">
</head>
<body>
 <div id="header">
<img src="images/logo.png" id="logo">
 <form id="search_bar">
<input id="search_entry" type="text" name="search">
<input id="search_submit" type="submit" name="Search">
</form>
 <ul id="header_list">
<li id="header_item">Profile </li>
<li id="header_item">Home </li>
<li id="header_item">Settings </li>
</ul>
</div> <!--closing div for 'header' div-->


<div id="sidebar">
<ul id="sidebar_list">
<li id="sidebar_item">Item 1 </li>
<li id="sidebar_item">Item 2 </li>
<li id="sidebar_item">Item 3 </li>
</ul>
</div>

 <div id="main">
 <div id="search_desc">
<b>Current Search:</b>
Sports Equipment &gt;&gt; Ski Gear 
</div>
<div id="search_stats"> Showing 1 - 2 of 2 Results </div>
 <div class="result">
<div class="number">1.</div>
 <div class="result_image">
<img class="display_img" src="images/test.jpg"> <!--display_img css is blank-->
</div>
 <div class="data">
<div class="product_name">Product Name</div>
<div class="product_price">Price:</div>
<div class="gen_info">Here is some add'l info</div>
</div>
</div>
 <div class="result">
<div class="number">1.</div>
 <div class="result_image">
<img class="display_img" src="images/test.jpg">
</div>
 <div class="data">
<div class="product_name">Product Name</div>
<div class="product_price">Price:</div>
<div class="gen_info">Here is some add'l info</div>
</div>
</div>
</div>

</body>
</html>
