<div class="row-fluid">
	<div class="span2">
	</div>

<div class="span10">


<h2>Post a new item to the Marketplace</h2>
<br />

<%= render 'form' %>

<%= link_to 'Back', '/items' %>

</div>

</div> <!--closing div tag for 'row-fluid' -->


